{{- if .Values.ingress.enabled -}}
{{- $corsOrigins := "" -}}
{{- if .Values.extraEnv.CORS_ORIGINS -}}
  {{- $corsOrigins = .Values.extraEnv.CORS_ORIGINS -}}
{{- else if .Values.cors.origins -}}
  {{- $corsOrigins = (join "," .Values.cors.origins) -}}
{{- end -}}
{{- if $corsOrigins -}}
{{- $originsList := splitList "," $corsOrigins -}}
apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: {{ include "backend.fullname" . }}-cors
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "backend.labels" . | nindent 4 }}
config:
  origins:
    {{- range $originsList }}
    - {{ trim . | quote }}
    {{- end }}
  methods:
    {{- if .Values.cors.methods }}
    {{- range .Values.cors.methods }}
    - {{ . }}
    {{- end }}
    {{- else }}
    - GET
    - POST
    - PUT
    - DELETE
    - PATCH
    - OPTIONS
    {{- end }}
  headers:
    {{- if .Values.cors.headers }}
    {{- range .Values.cors.headers }}
    - {{ . | quote }}
    {{- end }}
    {{- else }}
    - "*"
    {{- end }}
  exposed_headers:
    {{- if .Values.cors.exposedHeaders }}
    {{- range .Values.cors.exposedHeaders }}
    - {{ . | quote }}
    {{- end }}
    {{- else }}
    - "Authorization"
    - "Content-Type"
    - "X-Requested-With"
    {{- end }}
  credentials: {{ .Values.cors.credentials | default true }}
  max_age: {{ .Values.cors.maxAge | default 3600 }}
  preflight_continue: false
plugin: cors
{{- end }}
{{- end }}

